{% load static %}

<!DOCTYPE html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- App css -->
    <link href="{% static 'adminpanel/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src=https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js></script>
</head>
<body>
    


<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-3 pb-3 text-center bg-primary">
                        <a href="index-2.html">
                            <span>
                                <h3 style="color: white;">Gadgetcart</h3>
                            </span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">Sign In</h4>
                            <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>
                        </div>
                        {% include 'adminpanel/includes/alerts.html' %}

                        <form action="{% url 'adminsignin' %}" method="post" id="admin_signin_form">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input class="form-control" type="email" id="emailaddress"
                                    placeholder="Enter your email" name="email">
                            </div>

                            <div class="mb-3">

                                <label for="password" class="form-label">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control col-12" style="width: 100%;"
                                        placeholder="Enter your password" name="password">
                                </div>
                            </div>

                            <div class="mb-3 mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>

                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Log In </button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<!-- bundle -->
<!-- <script src="{% static 'adminpanel/js/vendor.min.js' %}"></script>
<script src="{% static 'adminpanel/js/app.min.js' %}"></script> -->

<script>
    $(document).ready(function () {
        $("#admin_signin_form").validate({
            rules: {
              email: {
                    required: true,

                },
                password: {
                    required: true,
                },

                
            }
        })
    })
</script>

<style>
    .error{
        color: red;
    }
</style>

</body>
</html>