{% load static %}

<!DOCTYPE html>


<head>
  <!-- <meta charset="utf-8" /> -->
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'adminpanel/images/favicon.ico' %}">

  <!-- third party css -->
  <link href="{% static 'adminpanel/css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
  <!-- third party css end -->

  <!-- App css -->
  <link href="{% static 'adminpanel/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'adminpanel/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
  <link href="{% static 'adminpanel/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Sweetalert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Cropper JS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src=https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js></script>

  <!-- chart js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>


  
  

<!-- sidebar -->
{% include 'adminpanel/includes/sidebar.html' %}

<!-- navbar -->
{% include 'adminpanel/includes/navbar.html' %}

{% block content %}
<!-- content -->
{% endblock %}

{% block script %}
{% endblock %}




<script>
  function deleteItems(event) {
    event.preventDefault();
    var link = event.currentTarget.href;
    var name = event.currentTarget.name;
    Swal.fire({
      title: 'Are you sure?',
      text: "Do you want to delete " + name,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Deleted!',
          'Item has been deleted.',
          'success'
        )
        window.location = link;
      }
      else {
        return false;
      }
    })
  }
</script>



<!-- bundle -->
<script src="{% static 'adminpanel/js/vendor.min.js' %}"></script>
<script src="{% static 'adminpanel/js/app.min.js' %}"></script>

<!-- third party js -->
<script src="{% static 'adminpanel/js/vendor/apexcharts.min.js' %}"></script>
<script src="{% static 'adminpanel/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'adminpanel/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- third party js ends -->
  
<!-- demo app -->
<script src="{% static 'adminpanel/js/pages/demo.dashboard.js' %}"></script>

<!-- DataTable -->
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>


</body>

</html>