{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}
<!-- Start Content-->

<div class="container-fluid ">
    <h4 class="ml-5 mt-3">BRAND LIST</h4>

</div>

{% include 'adminpanel/includes/alerts.html' %}

<div class="row p-3">
    {% for brand in brands %}
    <div class="col-sm-6 col-md-4 col-lg-2">
        <figure class="card card-product-grid"
            style="display: flex; align-items: center; justify-content: start; padding-top: 1rem; height: 18rem; max-width: 300px;">
            <div class="img-wrap border-bottom">
                <img src="{{ brand.brand_image.url }}" style="width: 200px; height: 200px">
            </div> <!-- img-wrap.// -->
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="./product-detail.html" class="title" style="font-size: 1.5rem; font-weight: 500; color: #313a46">{{ brand.brand_name }}</a>

                    

                </div>
            </figcaption>

            <div class="d-flex justify-content-around">
                <div><a href="{% url 'brandedit' brand.id %}"><span class="material-icons"
                            style="color: #b5b5b5;">edit</span></a>
                </div>
                <div>
                    <a type="button" class="close" href="{% url 'branddelete' brand.id %}" onclick="deleteItems(event)"
                        data-dismiss="alert"><span class="material-icons" style="color: #6b6b6b;">delete</span></a>
                </div>
            </div>

        </figure>

    </div> <!-- col.// -->
    {% endfor %}

</div> <!-- row end.// -->


<div class="card-deck col-lg-10">
    {% for brand in brands %}
    <div class="card">
        <img class="card-img-top" src="{{ brand.brand_image.url }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">
                <center>{{ brand.brand_name }}</center>
            </h4>
            <div class="d-flex justify-content-center">
                <div class="mr-2">
                    <a href="{% url 'brandedit' brand.id %}">
                        <span class="btn btn-secondary material-icons">edit</span>
                    </a>
                </div>
                <div>
                    <a type="button" href="{% url 'branddelete' brand.id %}" onclick="deleteItems(event)" data-dismiss="alert">
                        <span class="btn btn-secondary material-icons">delete</span>
                    </a>
                </div>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
    </div>
    {% endfor %}
</div>



<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="javascript: void(0);">About</a>
                    <a href="javascript: void(0);">Support</a>
                    <a href="javascript: void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->






{% endblock %}