{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}
<!-- Start Content-->

<div class="container-fluid ">
    <h4 class="ml-5 mt-3">CATEGORY LIST</h4>

</div>

<div class="row p-3">
    {% for category in categories %}
    <div class="col-md-2">
        <figure class="card card-product-grid"
            style="display: flex; align-items: center; justify-content: start; padding-top: 1rem; height: 18rem; max-width: 300px;">

            <div class="img-wrap">
                <img src="{{ category.cat_image.url }}" style="width: 200px; height: 200px">
            </div> <!-- img-wrap.// -->
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="./product-detail.html" class="title" style="font-size: 1.5rem; font-weight: 900;">{{ category.category_name }}</a>
                </div>

            </figcaption>
            <div class="d-flex justify-content-around">
                <div><a href="{% url 'categoryedit' category.id %}"><span class="material-icons"
                            style="color: #aaaaaa;">edit</span></a></div>
                <div>
                    <a type="button" class="close" href="{% url 'categorydelete' category.id %}"
                        data-dismiss="alert"><span class="material-icons" style="color: #aaaaaa;">delete</span></a>
                </div>
            </div>
        </figure>

    </div> <!-- col.// -->
    {% endfor %}

</div> <!-- row end.// -->





<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="javascript: void(0);">About</a>
                    <a href="javascript: void(0);">Support</a>
                    <a href="javascript: void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->






<div class="rightbar-overlay"></div>
<!-- /End-bar -->

<!-- bundle -->
<script src="{% static 'adminpanel/js/vendor.min.js' %}"></script>
<script src="{% static 'adminpanel/js/app.min.js' %}"></script>

<!-- third party js -->
<script src="{% static 'adminpanel/js/vendor/apexcharts.min.js' %}"></script>
<script src="{% static 'adminpanel/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'adminpanel/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script src="{% static 'adminpanel/js/pages/demo.dashboard.js' %}"></script>
<!-- end demo js-->


{% endblock %}