{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}

<style>
    .table td{
        text-align: center;
    }
</style>

<!-- Start Content-->


<div class="container">
    <h4 class="ml-3 mt-4 mb-4">DETAILS</h4>

    {% include 'adminpanel/includes/alerts.html' %}

    <div class="col-12" id="tables">
        <table class="table table-striped table-bordered table-hover bg-white bg-body shadow">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Customer name</th>
                    <th>Product</th>
                    <th>Total Price</th>
                    <th>Quantity</th>
                    <th>Order Status</th>
                    <th>Order Date</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row"> {{forloop.counter}} </th>
                    <td><a href="{% url 'order_details' order.id %} " class="text-dark">{{order.user.full_name}}</a></td>
                    <td>{{order.product}}</td>

                    <td>
                        {{ order.product.get_price.price }}
                    </td>
                    <td>
                        {{order.quantity}}
                    </td>
                    <td>
                        {{order.status}}
                    </td>
                    <td>
                        {{order.updated_at}}
                    </td>
                    <td>
                        <a href="{% url 'active_orders_edit' order.id %}" class="btn btn-outline-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>



<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <a href="javascript: void(0);">About</a>
                    <a href="javascript: void(0);">Support</a>
                    <a href="javascript: void(0);">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->



{% endblock %}