
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-dark t1"> &copy 2021 gadgetcart </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">gadgetcart.tk</span>
				<span  class="px-2">vpvishnu2000@gmail.com</span>
				<span  class="px-2 t2">Kerala, India</span>
			</div>
			<div class="col-md-2 text-md-right t3">
				<i class="fab fa fa-lg fa-cc-visa"></i>
				<i class="fab fa fa-lg fa-cc-paypal"></i>
				<i class="fab fa fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<style>
	@media only screen and (max-width: 600px) {
	  .t1{
		  margin-left: 90px;
	  }
	  .t2{
		  margin-left: 108px;
	  }
	  .t3{
		  margin-left: 120px;
	  }
	}
  </style>
