{% load static %}

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand p-4" href="{% url 'homepage' %}"><h4>Gadgetcart</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse Justify-content-between" id="navbarSupportedContent" style=" margin-left: 18%;">
      <ul class="navbar-nav mr-auto">

        {% if user.id is None %}
        <li class="nav-item active">
          <a class="nav-link" href="">Welcome Guest!</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="">Welcome  {{user.first_name}}.</a>
        </li>
        {% endif %}
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'store' %}">Store</a>
          </li>
          
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
            {% for category in links %}
            <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
            {% endfor %}
            
          </div>
        </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Brands
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
              {% for brand in link %}
              <a class="dropdown-item" href="{{ brand.get_url }}">{{ brand.brand_name}}</a>
              {% endfor %}
             
            </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}">Cart ({{ cart_count }})</a>
            </li>


            {% if user.id is None %}
            <li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          </li>
            {% else %}
            <li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signout' %}">Logout</a>
              </li>
          </li>
          {% endif %}

         


          <!-- <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i
                    class="fa fa-shopping-cart" style="color: white;"></i></div>
            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
        </a> -->
          
      </ul>


      <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" class="search" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-primary text-white my-2 my-sm-0 border-dark" type="submit">Search</button>
      </form>
    </ul>
 
  
    </div>
  </nav>

</body>
