{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
</head>
<body>

    <!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu" style="    width: 260
    px
    ;
        z-index: 10;
        background: linear-gradient(135deg,#313a46 0,#313a46 60%);
        bottom: 0;
        position: fixed;
        top: 0;
        padding-top: 70px;">

        <!-- LOGO -->
        <a href="{% url 'productlist' %}" class="logo text-center logo-light">
            <span class="logo-lg" style="background-color: #313a46;">
                <h3 style="color: white;" class="mt-3">GadgetCart.</h3>
            </span>
            <span class="logo-sm" style="background-color: #313a46;">
                <img src="{% static 'adminpanel/images/logo_sm.png' %}" alt="" height="16">
            </span>
        </a>

        <!-- LOGO -->
        <a href="index-2.html" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="{% static 'adminpanel/images/logo-dark.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'adminpanel/images/logo_sm_dark.png' %}" alt="" height="16">
            </span>
        </a>

        <div class="h-100" id="leftside-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="side-nav">

                 <!-- <li class="side-nav-title side-nav-item">Navigation</li>  -->

                <li class="side-nav-item">
                    <a href="{% url 'adminpanel' %}" class="side-nav-link"> 
                        <i class="far fa-home"></i>
                        <span> Dashboards </span>
                    </a>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                        aria-controls="sidebarEcommerce" class="side-nav-link">
                        <i class="far fa-store"></i>
                        <span> Products</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEcommerce">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'productlist' %}">Product list</a>
                            </li>
                            <li>
                                <a href="{% url 'variantadd' %}">Product Variants</a>
                            </li>

                        </ul>
                    </div>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail"
                        class="side-nav-link">
                      <i class="far fa-phone-laptop"></i>
                        <span> Category </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEmail">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'categorylist' %}">Category list</a>
                            </li>
                            <li>
                                <a href="{% url 'categoryadd' %}">Add Category</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarMaps" aria-expanded="false" aria-controls="sidebarMaps"
                        class="side-nav-link">
                        <i class="far fa-search-dollar"></i>
                        <span> Brands </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarMaps">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'brandlist' %}">Brands List</a>
                            </li>
                            <li>
                                <a href="{% url 'brandadd' %}">Add Brands</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false"
                        aria-controls="sidebarProjects" class="side-nav-link">
                        <i class="far fa-shopping-cart"></i>
                        <span> Orders </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarProjects">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'active_orders' %}">Active Orders</a>
                            </li>
                            <li>
                                <a href="{% url 'order_history' %}">Order History</a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarTables" aria-expanded="false" aria-controls="sidebarTables" class="side-nav-link">
                        <i class="far fa-tags"></i>
                        <span> Offers </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTables">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'product_offer_list' %}">Product Offers</a>
                            </li>
                            <li>
                                <a href="{% url 'category_offer_list' %}">Category Offers</a>
                            </li>
                            <li>
                                <a href="{% url 'brand_offer_list' %}">Brand Offers</a>
                            </li>
                        </ul>
                    </div>
                </li>



                
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages"
                        class="side-nav-link">
                        <i class="far fa-ad"></i>
                        <span> Banners </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarPages">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'banner_list' %}">Banners List</a>
                            </li>
                            <li>
                                <a href="{% url 'banner_list' %}">Add Banners</a>
                            </li>

                        </ul>
                    </div>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false"
                        aria-controls="sidebarLayouts" class="side-nav-link">
                        <i class="far fa-gift-card"></i>
                        <span> Coupons </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'coupon_list' %}">Coupon List</a>
                            </li>
                            <li>
                                <a href="{% url 'coupon_add' %}">Add Coupon</a>
                            </li>
                            <li>
                                <a href="{% url 'redeemed_coupons' %}">Redeemed Coupons</a>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="side-nav-item">
                    <a href="{% url 'userdetails' %}" class="side-nav-link">
                        <i class="far fa-users"></i>
                        <span> Users </span>
                    </a>
                </li>


                <li class="side-nav-item">
                    <a href="{% url 'report' %}" class="side-nav-link">
                        <i class="far fa-chart-bar"></i>
                        <span> Report </span>
                    </a>
                </li>

            </ul>


            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
    
</body>
</html>
