{% load static %}

<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu">

        <!-- LOGO -->
        <a href="index-2.html" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="{% static 'adminpanel/images/logo.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'adminpanel/images/logo_sm.png' %}" alt="" height="16">
            </span>
        </a>

        <!-- LOGO -->
        <a href="index-2.html" class="logo text-center logo-dark">
            <span class="logo-lg">
                <img src="{% static 'adminpanel/images/logo-dark.png' %}" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="{% static 'adminpanel/images/logo_sm_dark.png' %}" alt="" height="16">
            </span>
        </a>

        <div class="h-100" id="leftside-menu-container" data-simplebar>

            <!--- Sidemenu -->
            <ul class="side-nav">

                <!-- <li class="side-nav-title side-nav-item">Navigation</li> -->

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false"
                        aria-controls="sidebarDashboards" class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span> Dashboards </span>
                    </a>

                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                        aria-controls="sidebarEcommerce" class="side-nav-link">
                        <i class="uil-store"></i>
                        <span> Products</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEcommerce">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'productlist' %}">Product list</a>
                            </li>
                            <li>
                                <a href="{% url 'productadd' %}">Add Product</a>
                            </li>

                        </ul>
                    </div>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail"
                        class="side-nav-link">
                        <i class="uil-envelope"></i>
                        <span> Category </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarEmail">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'categorylist' %}">Category list</a>
                            </li>
                            <li>
                                <a href="{% url 'categoryadd' %}">Add Category</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarMaps" aria-expanded="false" aria-controls="sidebarMaps"
                        class="side-nav-link">
                        <i class="uil-location-point"></i>
                        <span> Brands </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarMaps">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="{% url 'brandlist' %}">Brands List</a>
                            </li>
                            <li>
                                <a href="{% url 'brandadd' %}">Add Brands</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false"
                        aria-controls="sidebarProjects" class="side-nav-link">
                        <i class="uil-briefcase"></i>
                        <span> Orders </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarProjects">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="apps-projects-list.html">Orders List</a>
                            </li>
                            <li>
                                <a href="apps-projects-details.html">Order History</a>
                            </li>

                        </ul>
                    </div>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks"
                        class="side-nav-link">
                        <i class="uil-clipboard-alt"></i>
                        <span> Users </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarTasks">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="apps-tasks.html">Active Users</a>
                            </li>
                            <li>
                                <a href="apps-tasks-details.html">Blocked Users</a>
                            </li>

                        </ul>
                    </div>
                </li>





                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages"
                        class="side-nav-link">
                        <i class="uil-copy-alt"></i>
                        <span> Banners </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarPages">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="pages-profile.html">Banners List</a>
                            </li>
                            <li>
                                <a href="pages-profile-2.html">Add Banners</a>
                            </li>

                        </ul>
                    </div>
                </li>



                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false"
                        aria-controls="sidebarLayouts" class="side-nav-link">
                        <i class="uil-window"></i>
                        <span> Coupons </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="side-nav-second-level">
                            <li>
                                <a href="layouts-horizontal.html">Coupon List</a>
                            </li>
                            <li>
                                <a href="layouts-detached.html">Add Coupon</a>
                            </li>
                        </ul>
                    </div>
                </li>






                <li class="side-nav-item">
                    <a href="widgets.html" class="side-nav-link">
                        <i class="uil-layer-group"></i>
                        <span> Report </span>
                    </a>
                </li>

            </ul>


            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->