{% extends 'user/base.html' %}

{% load humanize %}

{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->


        <div class="row">
            <aside class="col-lg-8">

              <div class="card shadow p-4 bg-white rounded mb-2">

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for address in addresses %}
                    <div class="col">
                      <div class="card" >
                        <div class="card-header">
                            <div class="row">
                              <input type="radio" onclick="billingAddress('{{ address.id }}')" name="address">
                            <h5 class="mt-3 ml-3">Address {{forloop.counter}}</h5>
                            <h6 class="mt-3 ml-auto mr-3" style="border: 1px solid gray; padding: 6px;">{{address.type}}</h6>
                        </div>  
                        </div>
                       
                        <div class="card-body">
                          <h5 class="card-title mb-0">{{address.full_name}}</h5>
                          <div class="row ml-0">
                          <p class="mb-0" id="first_name-{{ address.id }}">{{address.first_name}}</p><span> .</span>
                          <p class="mb-0" id="last_name-{{ address.id }}">{{address.last_name}}</p>
                        </div>
                          <p class="mb-0" id="address_line-{{ address.id }}">{{address.address_line}}</p>
                          <p class="mb-0" id="email-{{ address.id }}">{{address.email}}</p>
                          <p class="mb-0" id="phone_number-{{ address.id }}">{{address.phone_number}}</p>
                          <p class="mb-0" id="house_no-{{ address.id }}">{{address.house_no}}</p>
                          <div class="row ml-0">
                          <p class="mb-0" id="pin-{{ address.id }}">{{address.pin}}</p><span>,</span>
                          <p class="mb-0" id="city-{{ address.id }}">{{address.city}}</p>
                        </div>
                        <div class="row ml-0">
                          <p class="mb-0" id="state-{{ address.id }}">{{address.state}}</p> <span>,</span>
                          <p class="mb-0" id="country-{{ address.id }}">{{address.country}}</p>    
                        </div>                  
                          </div>
                          
                      </div>
                    </div>
                    {% empty %}
                    <h5 class="ml-4 mt-1">No Saved Address</h5>
                    {% endfor %}
                    
            </div>

          
        </div>
                <div class="card shadow p-3 mb-2 bg-white rounded">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                        <h4 class="card-title mb-4">Billing Address</h4>
                      </div>
                        <div class="mr-auto">
                          <a href="{% url 'my_address' %}" class="btn btn-outline-info">Manage Address</a>
                        </div>
                        </div>
                        <form action="{% url 'place_order' %}" method="POST" id="checkout_form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                  <label for="">First Name</label>
                                  <input type="text" name="first_name" class="form-control" id="first_name" value="{{default_address.first_name}}">
                                </div>
                                <div class="col form-group">
                                  <label for="">Last Name</label>
                                  <input type="text" name="last_name" class="form-control" id="last_name" value="{{default_address.last_name}}">
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col form-group">
                                  <label for="">Email</label>
                                  <input type="email" name="email" class="form-control" required id="email" value="{{default_address.email}}">
                                </div>
                                <div class="col form-group">
                                  <label for="">Phone Number</label>
                                  <input type="text" name="phone" class="form-control" required id="phone" value="{{default_address.phone_number}}">
                                </div>
                              </div>

                              <div class="form-row">
                                <div class="col form-group">
                                  <label for="">Address Line 1</label>
                                  <input type="text" name="address_line_1" class="form-control" required id="address_line_1" value="{{default_address.address_line}}">
                                </div>
                                <div class="col form-group">
                                  <label for="">Address Line 2</label>
                                  <input type="text" name="address_line_2" class="form-control" id="address_line_2">
                                </div>
                              </div>


                              <div class="form-row">
                                <div class="col form-group">
                                  <label for="">Pin</label>
                                  <input type="text" name="city" class="form-control" required id="pin" value="{{default_address.pin}}"> 
                                </div>
                                <div class="col form-group">
                                  <label for="">City</label>
                                  <input type="text" name="city" class="form-control" required id="city" value="{{default_address.city}}"> 
                                </div>
                                <div class="col form-group">
                                  <label for="">State</label>
                                  <input type="text" name="state" class="form-control" required id="state" value="{{default_address.state}}">
                                </div>
                                <div class="col form-group">
                                  <label for="">Country</label>
                                  <input type="text" name="country" class="form-control" required id="country" value="{{default_address.country}}">
                                </div>
                                </div>
                                <div class="form-row">
                                  <label for="">Order Note</label>
                                  <textarea name="order_note" rows="2" class="form-control"></textarea>
                                </div>
                       </div>

                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            
            <aside class="col-lg-4">

              {% include 'user/includes/alerts.html' %}

                <div class="card shadow p-3 mb-2 bg-white rounded">

                    <div class="card-body">
                      <h4 class="mb-4">Order Summery</h4>
                      <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">₹{{ total | floatformat:"0" | intcomma }}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Tax:</dt>
                        <dd class="text-right"> ₹{{ tax | floatformat:"0" | intcomma }}</dd>
                    </dl>
                    <dl class="dlist-align">
                      {% if coupon_discount_price %}
                      <dt>Coupon Discount:</dt>
                      <dd class="text-right text-success">  {{ coupon_discount | floatformat:"0" | intcomma }}% OFF</dd>
                      {% endif %}
                  </dl>
                    <dl class="dlist-align">
                      {% if coupon_discount_price %}
                      <dt>Coupon Price:</dt>
                      <dd class="text-right text-success"> ₹ -{{ coupon_discount_price | floatformat:"0" | intcomma }}</dd>
                      {% endif %}
                  </dl>
                    <dl class="dlist-align">
                        <dt>Grand Total:</dt>
                        <dd class="text-right text-dark b"><strong>₹{{ grand_total | floatformat:"0" | intcomma  }} </strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static './images/misc/payments.png' %}" height="26">
                    </p>

                        <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

         
         
                <div class="card shadow bg-white rounded mb-2">
                  <div class="card-body">
                  <form action="{% url 'apply_coupon' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group ml-3">
                      <label>Have coupon?</label>
                      <div class="row">
                        <input type="text" class="form-control col-9" name="coupon-code" placeholder="Coupon code">
                        <span > 
                          <button class="btn btn-primary ml-2" type="submit" name="submit">Apply</button>
                        </span>
                      </div>
                    </div>
                  </form>
                  </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
          
            </aside> <!-- col.// -->


        </div> <!-- row.// -->

        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>
  $(document).ready(function () {
    $("#checkout_form").validate({
        rules: {
          first_name: {
                required: true,

            },
            last_name: {
                required: true,
            },
            email: {
              email : true,
            }           
        }
    })
})
</script>

<script>
  function billingAddress(id) {
    console.log(id)
      let first_name = document.getElementById("first_name-" + id).textContent;
      let last_name = document.getElementById("last_name-" + id).textContent;
      let email = document.getElementById("email-" + id).textContent;
      let phone_number = document.getElementById("phone_number-" + id).textContent;
      let address_line = document.getElementById("address_line-" + id).textContent;
      let pin = document.getElementById("pin-" + id).textContent;
      let city = document.getElementById("city-" + id).textContent;
      let state = document.getElementById("state-" + id).textContent;
      let country = document.getElementById("country-" + id).textContent;

      document.getElementById("first_name").value = first_name;
      document.getElementById("last_name").value = last_name;
      document.getElementById("email").value = email;
      document.getElementById("phone").value = phone_number;
      document.getElementById("address_line_1").value = address_line;
      document.getElementById("pin").value = pin;
      document.getElementById("city").value = city;
      document.getElementById("state").value = state;
      document.getElementById("country").value = country;
  }

</script>

{% endblock %}