{% extends 'user/base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {% include 'user/includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'user/includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card shadow p-3 bg-white rounded">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit Your Profile</strong>
              
            </header>
            <div class="card-body">
              
                <div class="row"> 
                    
                    <div class="col-md-12">
                      <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" id="editprofileform">
                        {% csrf_token %}
                        <div class="row">
                        <div class="form-col col-md-6">
                          <div class="form-group ">
                            <label>First Name</label>
                            {{user_form.first_name}}
                          </div>
                          <div class="form-group ">
                            <label>Last Name</label>
                            {{user_form.last_name}}
                          </div>
                        </div>
                        <div class="text-center col-md-6 mt-4 mb-4">
                          <img src="{{userprofile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius: 50px; border: 2px solid gray">
                        </div>
                      </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Email</label>
                            {{user_form.email}}
                          </div>
                          <div class="form-group col-md-6">
                            <label>Profile Picture</label>
                            {{profile_form.profile_picture}}
                          </div>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Address Line 1</label>
                          {{profile_form.address_line_1}}
                        </div>
                        <div class="form-group col-md-6">
                          <label>Address Line 2</label>
                          {{profile_form.address_line_2}}
                        </div>
                      </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label>City</label>
                            {{profile_form.city}}
                          </div>
                          <div class="form-group col-md-4">
                            <label>State</label>
                            {{profile_form.state}}
                          </div>
                          <div class="form-group col-md-4">
                            <label>Country</label>
                            {{profile_form.country}}
                          </div>
                          <input type="submit" value="Save" class="btn btn-primary ml-2" style="color: white;">
                          {{ user_form.email.errors }}  
                      </form>
                       
                    </div>
                    
                
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
           
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


    <script>
      $(document).ready(function () {
          $("#editprofileform").validate({
              rules: {
                address_line_1: {
                        required: true,   
                    },
                    city: {
                      required: true,
                    },
                    state: {
                      required: true,
                    
                    },
                    country: {
                      required: true, 
                    },
                    email: {
                      email: true, 
                    },
                    

                }  
          })
      })
  
  </script>

{% endblock %}