{% extends 'user/base.html' %}

{% load crispy_forms_filters %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

  {% include 'user/includes/alerts.html' %}

    <div class="container">
        <div class="row">
        {% include 'user/includes/dashboard_sidebar.html' %}
 
        <main class="col-md-9">
            <div class="card shadow p-4 bg-white rounded">

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for address in addresses %}
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                            <div class="row">
                            <h5 class="mt-3 ml-3">Address</h5>
                            <h6 class="mt-3 ml-auto mr-3" style="border: 1px solid gray; padding: 6px;">{{address.type}}</h6>
                        </div>  
                        </div>
                       
                        <div class="card-body">
                          <h5 class="card-title mb-0">{{address.full_name}}</h5>
                          <p class="mb-0">{{address.address_line}}</p>
                          <p class="mb-0">{{address.email}}</p>
                          <p class="mb-0">{{address.phone_number}}</p>
                          <p class="mb-0">{{address.house_no}}</p>
                          <div class="row ml-0">
                          <p class="mb-0">{{address.pin}}</p><span>,</span>
                          <p class="mb-0">{{address.city}}</p>
                        </div>
                        <div class="row ml-0">
                          <p class="mb-0">{{address.state}}</p><span>,</span>
                          <p class="mb-0">{{address.country}}</p>  
                        </div>                    
                          </div>
                          <div class="card-footer">
                            {% if not address.default %}
                            <a href="{% url 'default_address' address.id %}" class="btn btn-outline-info btn-sm">Set As Default</a>
                            {% else %}
                            <a>Default</a>
                            {% endif %}
                            <span>  |</span>
                            <a href="{% url 'edit_address' address.id %}" class="text-dark">Edit</a><span>  |</span>
                            <a href="{% url 'delete_address' address.id %}" class="text-dark" onclick="deleteItems(event)">Delete</a>
                          </div>
                      </div>
                    </div>
                    {% empty %}
                    <h5 class="ml-4">No Saved Address</h5>
                    {% endfor %}
                    
            </div>

          
        </div>

            
            <article class="card shadow p-3 bg-white rounded mt-2">
           
       
            <header class="card-header">
                <h5 class="d-inline-block mr-3">Add Address</h5>
              
            </header>
            <div class="card-body">
              
                <div class="row"> 
                    
                    <div class="col-md-12">
                      <form action="" method="post" id="myaddressform">
                        {% csrf_token %}
                        
                        
                        <div class="form-row">
                            <div class="col form-group">
                              
                              <div class="form-group">
                                {{form.first_name  | as_crispy_field}}
                              </div>
                            </div>
                            <div class="col form-group">
                              <div class="form-group">
                                {{form.last_name  | as_crispy_field}}
                              </div>
                            </div>
                          </div>
            
                          <div class="form-row">
                            <div class="col form-group">
                             
                              <div class="form-group">
                                {{form.email  | as_crispy_field}}
                              </div>
                            </div>
                            <div class="col form-group">
                            
                              <div class="form-group">
                                {{form.phone_number  | as_crispy_field}}
                              </div>
                            </div>
                          </div>
            
                          <div class="form-row">
                            <div class="col form-group">
                            
                              <div class="form-group">
                                {{form.address_line  | as_crispy_field}}
                              </div>
                            </div>
                            <div class="col form-group">
                             
                              <div class="form-group">
                                {{form.house_no  | as_crispy_field}}
                              </div>
                            </div>
                          </div>
            
            
                          <div class="form-row">
                            <div class="col form-group">
                                
                                <div class="form-group">
                                    {{form.pin  | as_crispy_field}}
                                  </div>
                              </div>
                            <div class="col form-group">
                             
                              <div class="form-group">
                                {{form.city  | as_crispy_field}}
                              </div>
                            </div>
                            
                            <div class="col form-group">
                            
                              <div class="form-group">
                                {{form.state  | as_crispy_field}}
                              </div>
                            </div>
                          
                          </div>

                          <div class="form-row">
                            <div class="col form-group">
                            
                              <div class="form-group">
                                {{form.country  | as_crispy_field}}
                              </div>
                            </div>
                            <div class="col form-group">
                             
                              <div class="form-group">
                                {{form.type | as_crispy_field}}
                              </div>
                            </div>
                          </div>
                         
                   
                        
                          <input type="submit" value="Add New Address" class="btn btn-primary" style="color: white;">
                      </form>
                       
                    </div>
                    
                
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
           
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <script>
      $(document).ready(function () {
          $("#myaddressform").validate({
              rules: {
                address_line: {
                        required: true,   
                    },
                    city: {
                      required: true,
                    },
                    state: {
                      required: true,
                    
                    },
                    country: {
                      required: true, 
                    },
                    phone_number: {
                      required: true, 
                      digits:true,
                    },
                    pin: {
                      required: true, 
                      digits:true,
                      maxlength: 6,
                      minlength: 6,
                    },
                 
                }  
          })
      })
  
  </script>

{% endblock %}



