{% extends 'user/base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'user/includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card shadow p-3 bg-white rounded">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Your Order History</strong>
              
            </header>
            <div class="card-body">
                <div class="row"> 
                    
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Orderd Product</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Cancel Order</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                              <tr>
                                <th><div><img src="{{order.product.image1.url}}" class="img-sm" alt=""></div></th>
                                <td>{{order.product}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.status}}</td>
                                  {% if not product.status == 'Canceled'  %}
                                      <td><a class="btn text-white" href="{% url 'cancel_order' order.id %}">Cancel</a></td>
                                  {% else %}
                                      <td><p>Canceled</p></td>
                                  {% endif %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        
                    </div>
                    
                
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
           
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}