
{% extends 'user/base.html' %}

{% load static %}

{% block content %}  
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">
    
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Enter OTP</h4>
          {% include 'user/includes/alerts.html' %}
          <form action="{% url 'reset_password_otp_verify' %}" method="post" id="otp_verify_form">
            {% csrf_token %}
              <div class="form-group">
                 <input type="number" class="form-control" placeholder="Enter OTP" name="otp">
              </div> <!-- form-group// -->
   
              
              
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    <script>
      $(document).ready(function () {
        $("#otp_verify_form").validate({
            rules: {
              otp: {
                    required: true,

                },
           
            }
        })
    })
    </script>
  

    {% endblock %}