
{% extends 'user/base.html' %}

{% load static %}

{% block content %}  
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">
    
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Create New Password</h4>
          {% include 'user/includes/alerts.html' %}
          <form action="{% url 'set_new_password' %}" method="post" id="set_new_passsword">
            {% csrf_token %}
              <div class="form-group">
                  <label for="">Enter New Password</label>
                 <input type="password" class="form-control" placeholder="Enter New Password" name="new_password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
              </div> <!-- form-group// -->
              <br>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Save changes and Signin </button>
              </div> <!-- form-group// -->    
              <br>
            </form> 
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
    <script>
      $(document).ready(function () {
        $("#set_new_passsword").validate({
            rules: {
              new_password: {
                    required: true,

                },
                confirm_password: {
                    required: true,
                },

                
            }
        })
    })
    </script>

    {% endblock %}