{% extends 'user/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
        <h2 class="title-page">Search Result</h2>
        {% else %}
            <h2 class="title-page">Our Store</h2>
        {% endif %}

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">

                                <ul class="list-menu">
                                    <li><a href="{% url 'store' %}">All Products</a></li>
                                    {% for category in links %}
                                    <li><a href="{{ category.get_url }}">{{ category.category_name}}</a></li>
                                    {% endfor %}
                                </ul>


                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->

                    
                    
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Brands </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_4">
                            <div class="card-body">
                                <ul class="list-menu">
                                    <li><a href="{% url 'store' %}">All Products</a></li>
                                    {% for brand in link %}
                                    <li><a href="{{ brand.get_url }}">{{ brand.brand_name}}</a></li>
                                    {% endfor %}
                                </ul>
                               
                            </div>
                        </div>
                    </article>

                </div> 

            </aside> 
            <main class="col-md-9 mt-4">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline ml-1">
                        <span class="mr-md-auto"><b>{{ product_count }}</b> Items found </span>

                    </div>
                </header><!-- sect-heading -->
                

                <div class="row">
                    {% if products %}
                    {% for product in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">

                                <a href="{{ product.get_url }}"> <img src="{{ product.image1.url }}"></a>

                            </div> 
                            <figcaption class="info-wrap text-center">
                                <a href="{{ product.get_url  }}" class="title"><h5>{{ product.product_name }}</h5></a>
                                <div class="row ml-0 justify-content-center">

                                    <div class="mb-2">
                                      <var class="price">₹{{ product.get_price.price | floatformat:"0" | intcomma}}</var>
                                    </div> 
                                    <div class="ml-2">
                                      {% if not product.price == product.get_price.price %}
                                      <var class="price h6 text-secondary"><del>₹{{ product.price | floatformat:"0" | intcomma }}</del></var>
                                      {% endif %}
                                    </div>
                                    <div class="ml-2">
                                      {% if product.get_price.discount %}
                                      <var class="price h6 text-success" style="font-weight: 800px;">{{product.get_price.discount}}%OFF </var>
                                      {% endif %}
                                    </div> 
                      
                                  </div>

                                  <form action="{% url 'add_cart' product.id %}" method="post">
                                      {% csrf_token %}
                                  <div class="row ml-0 justify-content-center">
                                    <div class="item-option-select">
                                        <div class="row">
                                      <p class="col-5 mt-2">Color</p>
                                      <select name="color" class="form-control col-7" required>
                                        <!-- <option value="" disabled selected>Select Color </option> -->
                                        {% for i in product.variation_set.colors %}
                                        <option selected value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                  </div> <!-- row.// -->
                                 
                                  {% if product.stock <= 0 %} 
                                  <h5 class="text-danger">Out of stock</h5>
                                    {% else %}
                                    <div class="row">
                                    <div class="col p-0 mr-2"  #onclick="addItems(event)">
                                    <button type="submit" class="btn btn-primary" name="add_to_cart_button">Add to cart <i class="fas fa fa-shopping-cart text-white"></i></button>
                                     </div>
                                    <a href="{% url 'buy_now' product.id %}" class="btn btn-outline-danger mr-1 mb-2"> Buy Now <i class="fas fa fa-bolt ml-3"></i>
                                       </a>
                                    </div>

                                    </div>
                    
                                    {% endif %}
                                </form>

                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                    {% else %}
                    <div>
                        <h5 class="ml-3">No Result Found. Please Try Again.</h5>
                    </div>
                    {% endif %}
                </div> <!-- row end.// -->


                <nav class="mt-4" aria-label="Page navigation sample">
                    {% if products.has_other_pages %}
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{products.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>

                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<script>
    function addItems(event){
      event.preventDefault();
      var link = event.currentTarget.href;
      var name = event.currentTarget.name;
      
        
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          
          Toast.fire({
            icon: 'success',
            title: 'Successfully Added to Cart'
          })
      
    }
  </script>

  <style>
    .btn-danger{
        background-color: #fd6b22;
        color: white;
      }
      
      .btn-danger:hover{
        background-color: #fd7a22;
      }
  </style>


{% endblock %}


